                   /*
$exemple-layout: vertical;
$exemple-spacing: 32px;
@import 'bg/exemple/*.png';

@include all-exemple-sprites;

ex :

@include exemple-sprite(image);
@include exemple-sprite(image, $offset-x:100%);
*/
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/lib\/_functions\.scss}line{font-family:\00003214}}
.clearfix {
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/CodeKit\.app\/Contents\/Resources\/engines\/compass\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/lib\/_functions\.scss}line{font-family:\00003281}}
.mask {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  left: -9999em;
}

/* -------------------------------------------------------------------------- */
/* -------------------------------------------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/lib\/_functions\.scss}line{font-family:\00003313}}
.hr {
  border-top-style: solid;
  border-top-width: 1px;
  border-top-color: black;
  margin-top: -1px;
  margin-bottom: 1.42857em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/lib\/_functions\.scss}line{font-family:\00003308}}
.hr hr {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  left: -9999em;
}

/* -------------------------------------------------------------------------- */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/lib\/_functions\.scss}line{font-family:\00003335}}
.list {
  margin: 0;
  padding: 0;
  list-style-type: none;
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/CodeKit\.app\/Contents\/Resources\/engines\/compass\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
.list:after {
  content: "";
  display: table;
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/lib\/_functions\.scss}line{font-family:\00003329}}
.list li,
.list dt,
.list dd {
  margin: 0;
  float: left;
}

/* -------------------------------------------------------------------------- */
/* normalize.css 2012-03-11T12:53 UTC - http://github.com/necolas/normalize.css */
/* =============================================================================
   HTML5 display definitions
   ========================================================================== */
/* Corrects block display not defined in IE6/7/8/9 & FF3 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/lib\/_normalize\.scss}line{font-family:\0000320}}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
nav,
section,
summary {
  display: block;
}

/*
 * Corrects inline-block display not defined in IE6/7/8/9 & FF3
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/lib\/_normalize\.scss}line{font-family:\0000330}}
audio,
canvas,
video {
  display: inline-block;
  *display: inline;
  *zoom: 1;
}

/*
 * Prevents modern browsers from displaying 'audio' without controls
 * Remove excess height in iOS5 devices
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/lib\/_normalize\.scss}line{font-family:\0000341}}
audio:not([controls]) {
  display: none;
  height: 0;
}

/*
 * Addresses styling for 'hidden' attribute not present in IE7/8/9, FF3, S4
 * Known issue: no IE6 support
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/lib\/_normalize\.scss}line{font-family:\0000351}}
[hidden] {
  display: none;
}

/* =============================================================================
   Base
   ========================================================================== */
/*
 * 1. Corrects text resizing oddly in IE6/7 when body font-size is set using em units
 *	http://clagnut.com/blog/348/#c790
 * 2. Prevents iOS text size adjust after orientation change, without disabling user zoom
 *	www.456bereastreet.com/archive/201012/controlling_text_size_in_safari_for_ios_without_disabling_user_zoom/
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/lib\/_normalize\.scss}line{font-family:\0000367}}
html {
  font-size: 100.01%;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
  -ms-text-size-adjust: 100%;
  /* 2 */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/lib\/_normalize\.scss}line{font-family:\0000376}}
body {
  font-size: 87.5%;
  line-height: 1.42857em;
}

/*
 * Addresses font-family inconsistency between 'textarea' and other form elements.
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/lib\/_normalize\.scss}line{font-family:\0000389}}
html,
button,
input,
select,
textarea {
  font-family: sans-serif;
}

/*
 * Addresses margins handled incorrectly in IE6/7
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/lib\/_normalize\.scss}line{font-family:\0000397}}
body {
  margin: 0;
}

/* =============================================================================
   Links
   ========================================================================== */
/*
 * Addresses outline displayed oddly in Chrome
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/lib\/_normalize\.scss}line{font-family:\00003110}}
a:focus {
  outline: thin dotted;
}

/*
 * Improves readability when focused and also mouse hovered in all browsers
 * people.opera.com/patrickl/experiments/keyboard/test
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/lib\/_normalize\.scss}line{font-family:\00003120}}
a:hover,
a:active {
  outline: 0;
}

/* =============================================================================
   Typography
   ========================================================================== */
/*
 * Addresses font sizes and margins set differently in IE6/7
 * Addresses font sizes within 'section' and 'article' in FF4+, Chrome, S5
 */
/* http://modularscale.com/scale/?px1=14&px2=12&ra1=1.5&ra2=0 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/lib\/_normalize\.scss}line{font-family:\00003136}}
h1 {
  margin: 0;
  font-size: 1.92857em;
  line-height: 1.48148em;
  margin-bottom: 0.74074em;
  padding-top: 1.48148em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/lib\/_normalize\.scss}line{font-family:\00003145}}
h2 {
  margin: 0;
  font-size: 1.5em;
  line-height: 1.90476em;
  margin-bottom: 0.95238em;
  padding-top: 1.90476em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/lib\/_normalize\.scss}line{font-family:\00003154}}
h3 {
  margin: 0;
  font-size: 1.28571em;
  line-height: 2.22222em;
  margin-bottom: 1.11111em;
  padding-top: 2.22222em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/lib\/_normalize\.scss}line{font-family:\00003163}}
h4 {
  margin: 0;
  font-size: 1em;
  line-height: 1.42857em;
  margin-bottom: 1.42857em;
  padding-top: 2.85714em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/lib\/_normalize\.scss}line{font-family:\00003172}}
h5 {
  margin: 0;
  font-size: 0.85714em;
  line-height: 1.66667em;
  margin-bottom: 1.66667em;
  padding-top: 3.33333em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/lib\/_normalize\.scss}line{font-family:\00003181}}
h6 {
  margin: 0;
  font-size: 0.71429em;
  line-height: 2em;
  margin-bottom: 2em;
  padding-top: 4em;
}

/*
 * Addresses styling not present in IE7/8/9, S5, Chrome
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/lib\/_normalize\.scss}line{font-family:\00003194}}
abbr[title] {
  border-bottom: 1px dotted;
}

/*
 * Addresses style set to 'bolder' in FF3+, S4/5, Chrome
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/lib\/_normalize\.scss}line{font-family:\00003203}}
b,
strong {
  font-weight: bold;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/lib\/_normalize\.scss}line{font-family:\00003207}}
blockquote {
  margin: 0 80px;
  margin-bottom: 1.42857em;
}

/*
 * Addresses styling not present in S5, Chrome
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/lib\/_normalize\.scss}line{font-family:\00003216}}
dfn {
  font-style: italic;
}

/*
 * Addresses styling not present in IE6/7/8/9
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/lib\/_normalize\.scss}line{font-family:\00003224}}
mark {
  background: #ff0;
  color: #000;
}

/*
 * Addresses margins set differently in IE6/7
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/lib\/_normalize\.scss}line{font-family:\00003235}}
p,
pre,
address {
  margin: 0;
  margin-bottom: 1.42857em;
}

/*
 * Corrects font family set oddly in IE6, S4/5, Chrome
 * en.wikipedia.org/wiki/User:Davidgothberg/Test59
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/lib\/_normalize\.scss}line{font-family:\00003248}}
pre,
code,
kbd,
samp {
  font-family: monospace, serif;
  _font-family: "courier new", monospace;
}

/*
 * Improves readability of pre-formatted text in all browsers
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/lib\/_normalize\.scss}line{font-family:\00003257}}
pre {
  white-space: pre;
  white-space: pre-wrap;
  word-wrap: break-word;
}

/*
 * 1. Addresses CSS quotes not supported in IE6/7
 * 2. Addresses quote property not supported in S4
 */
/* 1 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/lib\/_normalize\.scss}line{font-family:\00003270}}
q {
  quotes: none;
}

/* 2 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/lib\/_normalize\.scss}line{font-family:\00003277}}
q:before,
q:after {
  content: '';
  content: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/lib\/_normalize\.scss}line{font-family:\00003282}}
small {
  font-size: 75%;
}

/*
 * Prevents sub and sup affecting line-height in all browsers
 * gist.github.com/413930
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/lib\/_normalize\.scss}line{font-family:\00003292}}
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/lib\/_normalize\.scss}line{font-family:\00003299}}
sup {
  top: -0.5em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/lib\/_normalize\.scss}line{font-family:\00003303}}
sub {
  bottom: -0.25em;
}

/* =============================================================================
   Lists
   ========================================================================== */
/*
 * Addresses margins set differently in IE6/7
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/lib\/_normalize\.scss}line{font-family:\00003319}}
dl,
menu,
ol,
ul {
  margin: 0;
  margin-bottom: 1.42857em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/lib\/_normalize\.scss}line{font-family:\00003324}}
dd {
  margin: 0 0 0 80px;
}

/*
 * Addresses paddings set differently in IE6/7
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/lib\/_normalize\.scss}line{font-family:\00003334}}
menu,
ol,
ul {
  padding: 0 0 0 80px;
}

/*
 * Corrects list images handled incorrectly in IE7
 */
/*
nav ul,
nav ol {
	list-style: none;
	list-style-image: none;
}
*/
/* =============================================================================
   Embedded content
   ========================================================================== */
/*
 * 1. Removes border when inside 'a' element in IE6/7/8/9, FF3
 * 2. Improves image quality when scaled in IE7
 *	code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/lib\/_normalize\.scss}line{font-family:\00003361}}
img {
  border: 0;
  /* 1 */
  -ms-interpolation-mode: bicubic;
  /* 2 */
}

/*
 * Corrects overflow displayed oddly in IE9
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/lib\/_normalize\.scss}line{font-family:\00003370}}
svg:not(:root) {
  overflow: hidden;
}

/* =============================================================================
   Figures
   ========================================================================== */
/*
 * Addresses margin not present in IE6/7/8/9, S5, O11
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/lib\/_normalize\.scss}line{font-family:\00003383}}
figure {
  margin: 0;
}

/* =============================================================================
   Forms
   ========================================================================== */
/*
 * Corrects margin displayed oddly in IE6/7
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/lib\/_normalize\.scss}line{font-family:\00003396}}
form {
  margin: 0;
}

/*
 * Define consistent border, margin, and padding
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/lib\/_normalize\.scss}line{font-family:\00003404}}
fieldset {
  border: 1px solid silver;
  margin: 0;
  padding: 10px;
  padding-top: 0.71429em;
  padding-bottom: 0.71429em;
  margin-bottom: 1.42857em;
}

/*
 * 1. Corrects color not being inherited in IE6/7/8/9
 * 2. Corrects text not wrapping in FF3
 * 3. Corrects alignment displayed oddly in IE6/7
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/lib\/_normalize\.scss}line{font-family:\00003419}}
legend {
  border: 0;
  /* 1 */
  padding: 0;
  white-space: normal;
  /* 2 */
  *margin-left: -7px;
  /* 3 */
}

/*
 * 1. Corrects font size not being inherited in all browsers
 * 2. Addresses margins set differently in IE6/7, FF3+, S5, Chrome
 * 3. Improves appearance and consistency in all browsers
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/lib\/_normalize\.scss}line{font-family:\00003435}}
button,
input,
select,
textarea {
  font-size: 100%;
  /* 1 */
  margin: 0;
  /* 2 */
  vertical-align: baseline;
  /* 3 */
  *vertical-align: middle;
  /* 3 */
}

/*
 * Addresses FF3/4 setting line-height on 'input' using !important in the UA stylesheet
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/lib\/_normalize\.scss}line{font-family:\00003447}}
button,
input {
  line-height: normal;
  /* 1 */
}

/*
 * 1. Improves usability and consistency of cursor style between image-type 'input' and others
 * 2. Corrects inability to style clickable 'input' types in iOS
 * 3. Removes inner spacing in IE7 without affecting normal text inputs
 *	Known issue: inner spacing remains in IE6
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/lib\/_normalize\.scss}line{font-family:\00003461}}
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  cursor: pointer;
  /* 1 */
  -webkit-appearance: button;
  /* 2 */
  *overflow: visible;
  /* 3 */
}

/*
 * Re-set default cursor for disabled elements
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/lib\/_normalize\.scss}line{font-family:\00003472}}
button[disabled],
input[disabled] {
  cursor: default;
}

/*
 * 1. Addresses box sizing set to content-box in IE8/9
 * 2. Removes excess padding in IE8/9
 * 3. Removes excess padding in IE7
 Known issue: excess padding remains in IE6
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/lib\/_normalize\.scss}line{font-family:\00003484}}
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
  *height: 13px;
  /* 3 */
  *width: 13px;
  /* 3 */
}

/*
 * 1. Addresses appearance set to searchfield in S5, Chrome
 * 2. Addresses box-sizing set to border-box in S5, Chrome (include -moz to future-proof)
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/lib\/_normalize\.scss}line{font-family:\00003496}}
input[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  -moz-box-sizing: content-box;
  -webkit-box-sizing: content-box;
  /* 2 */
  box-sizing: content-box;
}

/*
 * Removes inner padding and search cancel button in S5, Chrome on OS X
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/lib\/_normalize\.scss}line{font-family:\00003508}}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button {
  -webkit-appearance: none;
}

/*
 * Removes inner padding and border in FF3+
 * www.sitepen.com/blog/2008/05/14/the-devils-in-the-details-fixing-dojos-toolbar-buttons/
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/lib\/_normalize\.scss}line{font-family:\00003518}}
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/*
 * 1. Removes default vertical scrollbar in IE6/7/8/9
 * 2. Improves readability and alignment in all browsers
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/lib\/_normalize\.scss}line{font-family:\00003528}}
textarea {
  overflow: auto;
  /* 1 */
  vertical-align: top;
  /* 2 */
}

/* =============================================================================
   Tables
   ========================================================================== */
/*
 * Remove most spacing between table cells
 */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/lib\/_normalize\.scss}line{font-family:\00003542}}
table {
  border-collapse: collapse;
  border-spacing: 0;
  margin-bottom: 1.42857em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/lib\/_normalize\.scss}line{font-family:\00003551}}
td,
th,
caption {
  padding: 10px;
  padding-top: 0.71429em;
  padding-bottom: 0.71429em;
}

/**
* Grid
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/lib\/_hashgrid\.scss}line{font-family:\000034}}
#grid {
  /* Dimensions - same width as your grid with gutters */
  width: 980px;
  overflow: hidden;
    /* Grid (left-aligned)
position: absolute;
top: 0;
left: 0;
*/
  /* Grid (centered) */
  position: absolute;
  top: 0;
  left: 50%;
  margin-left: -490px;
}
@media only screen and (max-width: 1000px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/lib\/_hashgrid\.scss}line{font-family:\000034}}
  #grid {
    width: 980px;
    margin-left: -490px;
  }
}
@media only screen and (max-width: 840px) {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/lib\/_hashgrid\.scss}line{font-family:\000034}}
  #grid {
    margin-left: 0;
    width: auto;
    left: 20px;
    right: 20px;
  }
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/lib\/_hashgrid\.scss}line{font-family:\0000336}}
  #grid .vert-container {
    display: none!important;
  }
}

/**
* Vertical grid lines
*
* Set the column width taking the borders into consideration,
* and use margins to set column gutters.
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/lib\/_hashgrid\.scss}line{font-family:\0000349}}
#grid div.vert {
  width: 59px;
  margin-left: 19px;
  *display: inline!important;
  border-left: 1px dotted darkgrey;
  border-right: 1px dotted darkgrey;
  position: relative;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/lib\/_hashgrid\.scss}line{font-family:\0000359}}
#grid div.vert.first-line {
  width: 59px;
}

/**
* Horizontal grid lines, defined by your base line height
*
* Remember, the CSS properties that define the box model:
* visible height = height + borders + margins + padding
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/lib\/_hashgrid\.scss}line{font-family:\0000373}}
#grid div.horiz {
  height: 1.42857em;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/lib\/_hashgrid\.scss}line{font-family:\0000378}}
#grid div.horiz {
  border-bottom-style: dotted;
  border-bottom-width: 1px;
  border-bottom-color: darkgrey;
  margin-top: -1px;
  position: relative;
  top: 1px;
}

/**
* Classes for multiple grids
*
* When using more than one grid, remember to set the numberOfGrids
* option in the hashgrid.js file.
*/
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/lib\/_hashgrid\.scss}line{font-family:\0000391}}
#grid.grid-1 .vert {
  border-color: transparent;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/lib\/_hashgrid\.scss}line{font-family:\0000398}}
#grid.grid-2 .horiz {
  border-color: transparent;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/inc\/_base\.scss}line{font-family:\000032}}
body {
  overflow-y: scroll;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/inc\/_base\.scss}line{font-family:\0000310}}
img,
audio,
video,
canvas,
svg {
  display: block;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/inc\/_base\.scss}line{font-family:\0000315}}
fieldset {
  border: none;
  padding: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/inc\/_base\.scss}line{font-family:\0000322}}
fieldset legend span {
  display: block;
  margin-bottom: 1.42857em;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/inc\/_base\.scss}line{font-family:\0000330}}
input,
textarea {
  width: 126px;
  padding: 6px;
  border: 1px solid #333333;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/inc\/_base\.scss}line{font-family:\0000338}}
input[type=radio],
input[type=checkbox] {
  width: auto;
  padding: 0;
  border: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/inc\/_base\.scss}line{font-family:\0000345}}
input.radio,
input.checkbox {
  width: auto;
  padding: 0;
  border: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/inc\/_base\.scss}line{font-family:\0000351}}
input[type=image] {
  width: auto;
  padding: 0;
  border: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/inc\/_base\.scss}line{font-family:\0000357}}
input.image {
  width: auto;
  padding: 0;
  border: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/inc\/_base\.scss}line{font-family:\0000367}}
button,
select,
input[type=reset],
input[type=button],
input[type=submit] {
  width: 140px;
  padding: 5px;
  border: 1px solid #333333;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/inc\/_base\.scss}line{font-family:\0000378}}
button,
select,
input.reset,
input.button,
input.submit {
  width: 140px;
  padding: 5px;
  border: 1px solid #333333;
  vertical-align: middle;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/inc\/_base\.scss}line{font-family:\0000388}}
.ch select,
.sa select {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
  background-image: url(../img/bg/select.png);
  background-repeat: no-repeat;
  background-position: 100% 50%;
  padding-right: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/inc\/_base\.scss}line{font-family:\00003102}}
button:focus {
  outline: thin dotted;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/inc\/_base\.scss}line{font-family:\00003112}}
textarea,
input[type=text],
input[type=password],
input[type=tel],
input[type=email],
input[type=search] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  -webkit-border-radius: 0;
  -moz-border-radius: 0;
  -ms-border-radius: 0;
  -o-border-radius: 0;
  border-radius: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/inc\/_layout\.scss}line{font-family:\000032}}
.page {
  margin: auto;
  width: 960px;
  padding: 0 0 0 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/inc\/_demo\.scss}line{font-family:\000034}}
#page.demo #header {
  border-bottom-style: solid;
  border-bottom-width: 5px;
  border-bottom-color: black;
  margin-top: -5px;
  position: relative;
  top: 5px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/inc\/_demo\.scss}line{font-family:\0000310}}
#page.demo #footer .page {
  border-top-style: dotted;
  border-top-width: 3px;
  border-top-color: #aaaaaa;
  margin-top: -3px;
  padding-top: 1.42857em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/inc\/_demo\.scss}line{font-family:\0000316}}
#page.demo .colleft {
  *display: inline;
  zoom: 1;
  float: left;
  margin-right: 20px;
  width: 460px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/CodeKit\.app\/Contents\/Resources\/engines\/compass\/frameworks\/blueprint\/stylesheets\/blueprint\/_grid\.scss}line{font-family:\00003147}}
* html #page.demo .colleft {
  overflow-x: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/inc\/_demo\.scss}line{font-family:\0000320}}
#page.demo .colright {
  *display: inline;
  zoom: 1;
  float: left;
  margin-right: 20px;
  width: 460px;
  margin-right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/CodeKit\.app\/Contents\/Resources\/engines\/compass\/frameworks\/blueprint\/stylesheets\/blueprint\/_grid\.scss}line{font-family:\00003147}}
* html #page.demo .colright {
  overflow-x: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/inc\/_demo\.scss}line{font-family:\0000325}}
#page.demo section {
  *display: inline;
  zoom: 1;
  float: left;
  margin-right: 20px;
  width: 420px;
  padding-right: 49px;
  margin-right: 50px;
  border-right: 1px solid black;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/CodeKit\.app\/Contents\/Resources\/engines\/compass\/frameworks\/blueprint\/stylesheets\/blueprint\/_grid\.scss}line{font-family:\00003147}}
* html #page.demo section {
  overflow-x: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/inc\/_demo\.scss}line{font-family:\0000330}}
#page.demo article {
  *display: inline;
  zoom: 1;
  float: left;
  margin-right: 20px;
  width: 420px;
  margin-right: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/CodeKit\.app\/Contents\/Resources\/engines\/compass\/frameworks\/blueprint\/stylesheets\/blueprint\/_grid\.scss}line{font-family:\00003147}}
* html #page.demo article {
  overflow-x: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/inc\/_demo\.scss}line{font-family:\0000337}}
#page.demo nav ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
  *zoom: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Applications\/CodeKit\.app\/Contents\/Resources\/engines\/compass\/frameworks\/compass\/stylesheets\/compass\/utilities\/general\/_clearfix\.scss}line{font-family:\0000338}}
#page.demo nav ul:after {
  content: "";
  display: table;
  clear: both;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/lib\/_functions\.scss}line{font-family:\00003329}}
#page.demo nav ul li,
#page.demo nav ul dt,
#page.demo nav ul dd {
  margin: 0;
  float: left;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/inc\/_demo\.scss}line{font-family:\0000341}}
#page.demo nav ul li {
  margin-right: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/inc\/_demo\.scss}line{font-family:\0000349}}
#page.demo p.large {
  font-size: 1.28571em;
  line-height: 2.22222em;
  margin-bottom: 2.22222em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/inc\/_demo\.scss}line{font-family:\0000355}}
#page.demo p.large span {
  font-size: 0.77778em;
  line-height: 1.42857em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/inc\/_demo\.scss}line{font-family:\0000362}}
#page.demo p.small {
  font-size: 0.85714em;
  line-height: 1.66667em;
  margin-bottom: 1.66667em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/inc\/_demo\.scss}line{font-family:\0000371}}
#page.demo address.large {
  font-size: 1.28571em;
  line-height: 1.11111em;
  margin-bottom: 1.11111em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/inc\/_demo\.scss}line{font-family:\0000380}}
#page.demo form .label {
  display: inline-block;
  vertical-align: top;
  width: 140px;
  margin-right: 20px;
  position: relative;
  top: 0.35714em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/inc\/_demo\.scss}line{font-family:\0000391}}
#page.demo form input,
#page.demo form select,
#page.demo form textarea {
  vertical-align: top;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/inc\/_demo\.scss}line{font-family:\0000395}}
#page.demo form .help {
  display: inline-block;
  margin-left: 20px;
  vertical-align: top;
  position: relative;
  top: 0.35714em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/inc\/_demo\.scss}line{font-family:\00003104}}
#page.demo form p,
#page.demo form .p {
  min-height: 2.85714em;
  *height: 2.85714em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/inc\/_demo\.scss}line{font-family:\00003111}}
#page.demo form p.radio .label, #page.demo form p.checkbox .label,
#page.demo form .p.radio .label,
#page.demo form .p.checkbox .label {
  width: auto;
  margin-right: 0;
  position: static;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/inc\/_demo\.scss}line{font-family:\00003117}}
#page.demo form p.radio input, #page.demo form p.checkbox input,
#page.demo form .p.radio input,
#page.demo form .p.checkbox input {
  position: relative;
  top: 0.17857em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/inc\/_demo\.scss}line{font-family:\00003123}}
#page.demo form p.textarea,
#page.demo form .p.textarea {
  min-height: 10em;
  *height: 10em;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/vvalentin\/Sites\/outline\/scss\/inc\/_demo\.scss}line{font-family:\00003127}}
#page.demo form p.textarea textarea,
#page.demo form .p.textarea textarea {
  -webkit-resize: none;
  -moz-resize: none;
  -ms-resize: none;
  -o-resize: none;
  resize: none;
  height: 8.57143em;
}
