$base-font-size:   14px;
$base-line-height: 20px;

$total-columns  : 12;
$column-width   : 60px;
$gutter-width   : 20px;
$grid-padding   : 0;






/*
$exemple-layout: vertical;
$exemple-spacing: 32px;
@import 'bg/exemple/*.png';

@include all-exemple-sprites;

ex :

@include exemple-sprite(image);
@include exemple-sprite(image, $offset-x:100%);
*/