/********************************************/
/* FORMULAIRES								*/
/********************************************/

form
{
	p,
	.p
	{
		@include min-height(2);
	}
}

input,
textarea
{
    width: 208px;
    padding: 5px;
    border: 1px solid #333;
}
input[type=radio],
input[type=checkbox]
{
	width: auto;
	padding: 0;
	border:  0;
}
input.radio,
input.checkbox
{
	width: auto;
	padding: 0;
	border:  0;
}
button,
select,
input[type=reset],
input[type=button],
input[type=submit],
input.reset,
input.button,
input.submit
{
	width: 220px;
	padding: 5px;
	border: 1px solid #333;
}
select
{
	padding: 4px;
}