/********************************************/
/* STYLES COMMUNS À TOUTES LES PAGES		*/
/********************************************/
#page
{
	margin: auto;
	width: $blueprint-container-size-screen;
	
	@media only screen and (max-width:1000px) // 940px
	{
		width: $blueprint-container-size-tablet;
	}
	@media only screen and (max-width:840px) // 780px
	{
		width: auto;
		margin: 0 $blueprint-grid-margin;
	}
}
#page.demo
{
	nav
	{
		ul
		{
			@include list;
		}
	}
	.colleft
	{
		@include column($blueprint-grid-columns-screen / 2, true);
		@include border-gutter;
		@include margin-bottom;
		@include padding-top;
	}
	.colright
	{
		@include column($blueprint-grid-columns-screen / 2, true);	
		@include margin-bottom;
		@include padding-top;
	}
	form
	{
		@media only screen and (max-width:840px) // 780px
		{
			@include hide;
		}
	}
	.large
	{
		$fs1: 18px;
	
		@include bloc($fs1);
		
		span
		{
			$fs2: 14px;
		
			@include font-size($fs2, lines-for-font-size($fs2), $fs1);
		}
	}
	.small
	{
		$fs1: 10px;
	
		@include font-size($fs1);
		@include margin-bottom(1, $fs1);
	}
	header
	{
		@include border-bottom;
		@include padding;
		@include margin-bottom;
		@include has-layout;
	}
	section
	{
		@include prepend(1);
		@include column($blueprint-grid-columns-screen / 2 - 1);
		@include border;
		
		@media only screen and (max-width:1000px) // 940px
		{
			width: auto;
			float: none;
			padding-left: 0;
			margin-right: 0;
			@include margin-bottom(1);
		}
	}
	article
	{
		@include column($blueprint-grid-columns-screen / 2, true);
		@include border;
		background-color: #000;
		color: #FFF;
		
		@media only screen and (max-width:1000px) // 940px
		{
			width: auto;
			float: none;
		}
	}
}