#page
{
	margin: auto;
	width: $blueprint-container-size-screen;
	
	@media only screen and (max-width:1000px) // 940px
	{
		width: $blueprint-container-size-tablet;
	}
	@media only screen and (max-width:840px) // 780px
	{
		width: auto;
		margin: 0 $blueprint-grid-margin;
	}
}

img,
audio,
video,
canvas,
svg
{
	display: block;
	max-width: 100%;
	height: auto;
}

fieldset
{
	border: none;
	padding: 0;
	
	legend
	{
		span
		{
			display: block;
			@include trailer();
		}
	}
}
form
{
	p,
	.p
	{
		@include min-height(2);
	}
}
input,
textarea
{
    width: 208px;
    padding: 5px;
    border: 1px solid #333;
}
input[type=radio],
input[type=checkbox]
{
	width: auto;
	padding: 0;
	border:  0;
}
input.radio,
input.checkbox
{
	width: auto;
	padding: 0;
	border:  0;
}
button,
select,
input[type=reset],
input[type=button],
input[type=submit]
{
	width: 220px;
	padding: 5px;
	border: 1px solid #333;
}
button,
select,
input.reset,
input.button,
input.submit
{
	width: 220px;
	padding: 5px;
	border: 1px solid #333;
}
select
{
	padding: 4px;
}

#page.demo
{
	nav
	{
		ul
		{
			@include list;
		}
	}
	.colleft
	{
		@include column($blueprint-grid-columns-screen / 2);
		@include border-gutter;
		@include margin-bottom;
		@include padding-top;
	}
	.colright
	{
		@include column($blueprint-grid-columns-screen / 2, true);	
		@include margin-bottom;
		@include padding-top;
	}
	form
	{
		@media only screen and (max-width:840px) // 780px
		{
			@include hide;
		}
	}
	.large
	{
		$fs1: 18px;
	
		@include font-size($fs1);
		@include margin-bottom(1, $fs1);
		
		span
		{
			$fs2: 14px;
		
			@include font-size($fs2, lines-for-font-size($fs2), $fs1);
		}
	}
	.small
	{
		$fs1: 10px;
	
		@include font-size($fs1);
		@include margin-bottom(1, $fs1);
	}
	header
	{
		@include border-bottom;
		@include padding;
		@include margin-bottom;
		@include has-layout;
	}
	section
	{
		@include prepend(1);
		@include column($blueprint-grid-columns-screen / 2 - 1);
		@include border;
		
		@media only screen and (max-width:1000px) // 940px
		{
			width: auto;
			float: none;
			padding-left: 0;
			margin-right: 0;
			@include margin-bottom(1);
		}
	}
	article
	{
		@include column($blueprint-grid-columns-screen / 2, true);
		@include border;
		background-color: #000;
		color: #FFF;
		
		@media only screen and (max-width:1000px) // 940px
		{
			width: auto;
			float: none;
		}
	}
}