body
{
	overflow-y: scroll;
}
img,
audio,
video,
canvas,
svg
{
	display: block;
}

fieldset
{
	border: none;
	padding: 0;
	
	legend
	{
		span
		{
			display: block;
			@include margin-bottom();
		}
	}
}
input,
textarea
{
    width: $blueprint-grid-outer-width * 2 - $blueprint-grid-margin - 12px;
    padding: 6px;
    border: 1px solid #333;
	vertical-align: middle;
}
input[type=radio],
input[type=checkbox]
{
	width: auto;
	padding: 0;
	border:  0;
}
input.radio,
input.checkbox
{
	width: auto;
	padding: 0;
	border:  0;
}
input[type=image]
{
	width: auto;
	padding: 0;
	border:  0;
}
input.image
{
	width: auto;
	padding: 0;
	border:  0;
}
button,
select,
input[type=reset],
input[type=button],
input[type=submit]
{
	width: $blueprint-grid-outer-width * 2 - $blueprint-grid-margin;
	padding: 5px;
	border: 1px solid #333;
	vertical-align: middle;
}
button,
select,
input.reset,
input.button,
input.submit
{
	width: $blueprint-grid-outer-width * 2 - $blueprint-grid-margin;
	padding: 5px;
	border: 1px solid #333;
	vertical-align: middle;
}
.ch,
.sa
{
	select
	{
		@include appearance(none);
		@include border-radius(0);
		
		background-image: url(../img/bg/select.png);
		background-repeat: no-repeat;
		background-position: 100% 50%;
		
		padding-right: 20px;
	}
}
button
{
	&:focus
	{
		outline: thin dotted;
	}
}
textarea,
input[type=text],
input[type=password],
input[type=tel],
input[type=email],
input[type=search]
{
	@include appearance(none);
	@include border-radius(0);
}