html
{
	overflow-y: scroll;
}
img,
audio,
video,
canvas,
svg,
object,
table
{
	display: block;
	max-width: 100%;
}
table
{
	display: table;
}
small
{
	line-height: 0;
}
.hr
{
	@include border-top(1px, solid, black);
	@include margin-bottom(1);
	
	hr
	{
		@include mask;
	}
}
ul,
ol
{
	ol,
	ul
	{
		margin-bottom: 0;
	}
}
code,
kbd,
samp
{
	.not-ie &
	{
		line-height: 0;
	}
}