.demo
{
	.debug &
	{
		.todo
		{
			outline: 2px solid red;
		}	
	}
	#header
	{
		@include border-bottom(5px, solid);
	}
	#footer
	{
		.page
		{
			@include border-top(3px, dotted, #AAA);
			@include padding-top(1);
		}
	}
	.colleft,
	{
//		@include column(6);
	}
	.colright
	{
//		@include column(6);
//		@include last;	
	}
	section
	{
//		@include column(5.5);
//		@include border-column();
	}
	article
	{
//		@include column(5.5);
//		@include last;
	}
	nav
	{
		ul
		{
			$fs: 25px;
		
			@include list;
			@include bloc($fs, 1);

			@include padding-top(1, $fs);
			
			li
			{
				margin-right: 20px;
			}
		}
	}
	p
	{
		&.large
		{
			$fs: 18px;
		
			@include bloc($fs);
			
			span
			{
				$fs2: 14px;
				
				@include font-size($fs2, 1, $fs);	
			}
		}
		&.small
		{
			$fs: 12px;
			
			@include bloc($fs);
		}
	}
	address
	{
		&.large
		{
			$fs: 18px;
			
			@include bloc($fs, 1);
		}
	}
}