$input-width     : 227px;
$input-width-gap :   6px;

fieldset
{
	border: none;
	padding: 0;
	
	legend
	{
		span
		{
			display: block;
			@include margin-bottom();
		}
	}
}
.label
{
	@include span-columns(2);
	float: none;
	display: inline-block;
}
input,
select,
textarea,
.label
{
	vertical-align: top;
}
.radio,
.checkbox
{
	.label
	{
		width: auto;
		margin-right: 0;
	}
	input
	{
		position: relative;
		top: 2px;
	}
}
.line
{
	@include min-height(2);
	margin-bottom: 0;
}
/*
@mixin input
{
	width: $input-width;
	
	@include font-size($fs);
	@include height;
	@include border(1px, solid, #a6a6a6);
	padding: 1px 2px 2px;
}
input.text,
input.email,
input.search,
input.tel,
input.url,
input.password,
input.file,
input.color,
input.number,
input.range,
input.date,
input.month,
input.week,
input.datetime,
input.datetime-local
{
	@include input;
}
input[type=text],
input[type=email],
input[type=search],
input[type=tel],
input[type=url],
input[type=password],
input[type=file],
input[type=color],
input[type=number],
input[type=range],
input[type=date],
input[type=month],
input[type=week],
input[type=datetime],
input[type=datetime-local],
{
	@include input;
}
select
{
	@include input;
	height: auto;
	width: $input-width + $input-width-gap;
	padding: 3px;
}
textarea
{
	@include input;
	@include height     (6);
	@include min-height (6);
	@include max-height(10);
	
	@include resize;
}
.textarea
{
	@include min-height(7);
}
input[type=reset],
input[type=button],
input[type=submit]
{
	@include input;
	@include height(1.25);
	@include line-height(1.25);
	padding: 0;
	width: $input-width + $input-width-gap;
}
input.reset,
input.button,
input.submit
{
	@include input;
	@include height(1.25);
	@include line-height(1.25);
	padding: 0;
	width: $input-width + $input-width-gap;
}
button
{
	@include input;
	@include height(1.25);
	@include line-height(1.25);
	padding: 0;
	width: $input-width + $input-width-gap;
}
.boxsizing
{
	input.text,
	input.email,
	input.search,
	input.tel,
	input.url,
	input.password,
	input.file,
	input.color,
	input.number,
	input.range,
	input.date,
	input.month,
	input.week,
	input.datetime,
	input.datetime-local
	{
		@include box-sizing(border-box);
		width: columns(3);
		padding: 3px;
		height: auto;
		position: static;
		top:  auto;
		left: auto;
		margin-left:  auto;
		margin-right: auto;
	}
	input[type=text],
	input[type=email],
	input[type=search],
	input[type=tel],
	input[type=url],
	input[type=password],
	input[type=file],
	input[type=color],
	input[type=number],
	input[type=range],
	input[type=date],
	input[type=month],
	input[type=week],
	input[type=datetime],
	input[type=datetime-local],
	{
		@include box-sizing(border-box);
		width: columns(3);
		padding: 3px;
		height: auto;
		position: static;
		top:  auto;
		left: auto;
		margin-left:  auto;
		margin-right: auto;
	}
	select
	{
		@include box-sizing(border-box);
		width: columns(3);
		padding: 2px;
		position: static;
		top:  auto;
		left: auto;
		margin-left:  auto;
		margin-right: auto;
	}
	textarea
	{
		@include box-sizing(border-box);
		width: columns(3);
		padding: 3px;
		position: static;
		top:  auto;
		left: auto;
		margin-left:  auto;
		margin-right: auto;
	}
	input[type=reset],
	input[type=button],
	input[type=submit]
	{
		@include box-sizing(border-box);
		width: columns(3);
		padding: 3px;
		height: auto;
		position: static;
		top:  auto;
		left: auto;
		margin-left:  auto;
		margin-right: auto;
	}
	input.reset,
	input.button,
	input.submit
	{
		@include box-sizing(border-box);
		width: columns(3);
		padding: 3px;
		height: auto;
		position: static;
		top:  auto;
		left: auto;
		margin-left:  auto;
		margin-right: auto;
	}
	button
	{
		@include box-sizing(border-box);
		width: columns(3);
		position: static;
		top:  auto;
		left: auto;
		margin-left:  auto;
		margin-right: auto;
	}
}
*/