$input-width     : 225px;
$input-width-gap :   6px;

fieldset
{
	border: none;
	padding: 0;
	
	legend
	{
		span
		{
			display: block;
			@include padding-bottom;
		}
	}
}
.label
{
	@include span-columns(2);
	float: none;
	display: inline-block;
}
input,
select,
textarea,
.label
{
	vertical-align: top;
}
.radio,
.checkbox
{
	.label
	{
		width: auto;
		margin-right: 0;
	}
	input
	{
		position: relative;
		top: 2px;
	}
}
.line
{
	@include min-height(2);
	margin-bottom: 0;
}
@mixin input
{
	width: $input-width;
	
	border: 1px solid #a6a6a6;
	padding: 2px;
	
	@include appearance(none);
	@include border-radius(0);
}
input.text,
input.email,
input.search,
input.tel,
input.url,
input.password,
input.file,
input.color,
input.number,
input.range,
input.date,
input.month,
input.week,
input.datetime,
input.datetime-local
{
	@include input;
}
input[type=text],
input[type=email],
input[type=search],
input[type=tel],
input[type=url],
input[type=password],
input[type=file],
input[type=color],
input[type=number],
input[type=range],
input[type=date],
input[type=month],
input[type=week],
input[type=datetime],
input[type=datetime-local],
{
	@include input;
}
select
{
	@include input;
	width: $input-width + $input-width-gap;
	padding: 1px;
}
input.file
{
	width: $input-width + $input-width-gap;
	background-color: #FFF;
}
input[type=file]
{
	width: $input-width + $input-width-gap;
	background-color: #FFF;
}
textarea
{
	@include input;
	@include height     (6);
	@include min-height (6);
	@include max-height(12);
	
	@include font-size($fs);
	
	@include resize;
}
.textarea
{
	@include min-height(7);
}
input[type=reset],
input[type=button],
input[type=submit]
{
	@include input;
	width: $input-width + $input-width-gap;
	
	&:focus
	{
		outline: thin dotted;
	}
}
input.reset,
input.button,
input.submit
{
	@include input;
	width: $input-width + $input-width-gap;
	
	&:focus
	{
		outline: thin dotted;
	}
}
button
{
	@include input;
	width: $input-width + $input-width-gap;
	
	&:focus
	{
		outline: thin dotted;
	}
}
/*
.ch,
.sa
{
	select
	{
		@include appearance(none);
		@include border-radius(0);
		
		background-image: url(../img/bg/select.png);
		background-repeat: no-repeat;
		background-position: 100% 50%;
		
		padding-right: 20px;
	}
}
*/