#page
{
	@include container($breakpoint1, $breakpoint2, $breakpoint3);
}
.demo
{
	#section-article
	{
		@include clearfix;
	}
	
	// mobile first
	section
	{
		background-color: red;
		
			@include span-columns(2, $breakpoint1);
		
		@include at-breakpoint($breakpoint2)
		{
			@include span-columns(4, $breakpoint2);	
		}
		@include at-breakpoint($breakpoint3)
		{
			@include span-columns(6, $breakpoint3);	
		}
	}
	
	// desktop first
	article
	{
		background-color: green;
		
			@include span-columns(6 omega, $breakpoint3);
		
		@include at-breakpoint($breakpoint2 70.5em)
		{
			@include span-columns(4 omega, $breakpoint2);	
		}
		@include at-breakpoint($breakpoint1 46.5em)
		{
			@include span-columns(2 omega, $breakpoint1);	
		}
	}
	
	header
	{
		@include clearfix;
		@include margin-top;
	}
	
	// fallback
	hgroup
	{
		background-color: orange;
		
		@include at-breakpoint(0 $breakpoint1 46.5em)
		{
			@include span-columns(2, $breakpoint1);
		}
		@include at-breakpoint(46.5em $breakpoint2 70.5em)
		{
			@include span-columns(4, $breakpoint2);
		}
		@include at-breakpoint(70.5em $breakpoint3 ie)
		{
			@include span-columns(6, $breakpoint3);
		}
	}
	
	// fallback
	nav
	{
		background-color: yellow;
		
		@include at-breakpoint(0 $breakpoint1 46.5em)
		{
			@include span-columns(2 omega, $breakpoint1);
		}
		@include at-breakpoint(46.5em $breakpoint2 70.5em)
		{
			@include span-columns(4 omega, $breakpoint2);
		}
		@include at-breakpoint(70.5em $breakpoint3 ie)
		{
			@include span-columns(6 omega, $breakpoint3);
		}
	}
}