$base-line-height: 20px;
$base-font-size:   round($base-line-height / 3 * 2);

$total-columns  : 12;
$column-width   : 60px;
$gutter-width   : 20px;
$grid-padding   : $gutter-width;
$desktop        : $total-columns;