body
{
    $scale: 5/4;
    $fsh6:  10px;
    $fsh5:  round(modular-scale($fsh6, 1, $scale));
    $fsh4:  round(modular-scale($fsh5, 1, $scale));
    $fsh3:  round(modular-scale($fsh4, 1, $scale));
    $fsh2:  round(modular-scale($fsh3, 1, $scale));
    $fsh1:  round(modular-scale($fsh2, 1, $scale));

    font-size: ($base-font-size/1px) * 6.25%;
    line-height: ($base-line-height / $base-font-size) * 1em;
    
    h6
    {
        margin: 0;
        @include adjust-font-size-to($fsh6);
        @include margin-bottom(1,    $fsh6);
        @include padding-top(2,      $fsh6);
    }
    h5
    {
        margin: 0;
        @include adjust-font-size-to($fsh5);
        @include margin-bottom(1,    $fsh5);
        @include padding-top(2,      $fsh5);
    }
    h4
    {
        margin: 0;
        @include adjust-font-size-to($fsh4);
        @include margin-bottom(1,    $fsh4);
        @include padding-top(2,      $fsh4);
    }
    h3
    {
        margin: 0;
        @include adjust-font-size-to($fsh3);
        @include margin-bottom(1,    $fsh3);
        @include padding-top(2,      $fsh3);
    }
    h2
    {
        margin: 0;
        @include adjust-font-size-to($fsh2);
        @include margin-bottom(1,    $fsh2);
        @include padding-top(2,      $fsh2);
    }
    h1
    {
        margin: 0;
        @include adjust-font-size-to($fsh1);
        @include margin-bottom(1,    $fsh1);
        @include padding-top(2,      $fsh1);
    }
}
b,
strong
{
    font-weight: bold;
}
blockquote 
{
    margin: 0 $column-width + $gutter-width;
    @include trailer;
}
p,
pre,
address
{
    margin: 0;
    @include margin-bottom;
}
dl,
menu,
ol,
ul
{
    margin: 0;
    @include margin-bottom;
}
dd
{
    margin: 0 0 0 $column-width + $gutter-width;
}
menu,
ol,
ul
{
    padding: 0 0 0 $column-width + $gutter-width;
}
fieldset
{
    margin: 0;
    padding: 10px;
    @include padding-top(   0.5);
    @include padding-bottom(0.5);
    @include  margin-bottom(  1);
}
table
{
    @include margin-bottom;
}

td,
th,
caption
{
    padding: 10px;
    @include padding-top(   0.5);
    @include padding-bottom(0.5);
}
html
{
    overflow-y: scroll;
}
img,
audio,
video,
canvas,
svg,
object,
table
{
    display: block;
    max-width: 100%;
    height: auto;
}
table
{
    display: table;
}
small
{
    line-height: 0;
}
.hr
{
    @include border-top(1px, solid, black);
    @include margin-bottom(1);
    
    hr
    {
        @include mask;
    }
}
ul,
ol
{
    ol,
    ul
    {
        margin-bottom: 0;
    }
}
code,
kbd,
samp
{
    .not-ie &
    {
        line-height: 0;
    }
}