/** --- @section GENERIC STYLES --- */

/** This is mandatory to respect the project's grid */
body
{	
	font-size: ($base-font-size/1px) * 6.25%;
	line-height: ($base-line-height / $base-font-size) * 1em;
}
/** */


/** You can edit from here : */
html
{
	overflow-y: scroll;
}

blockquote 
{
	margin: 0 $column-width + $gutter-width;
	@include trailer;
}
p,
pre,
address,
dl,
menu,
ol,
ul,
table
{
	margin: 0;
	@include margin-bottom;
}
dd
{
	margin: 0 0 0 $column-width + $gutter-width;
}
menu,
ol,
ul
{
	padding: 0 0 0 $column-width + $gutter-width;
}
img,
audio,
video,
canvas,
svg,
object
{
	display: block;
}
img,
audio,
video,
canvas,
svg,
object,
table
{
	max-width: 100%;
	height: auto;
}
small
{
	line-height: 0;
}
code,
kbd,
samp
{
	.not-ie &
	{
		line-height: 0;
	}
}


/**
 * @subsection Basic Classes
 */

// The name says it all!
.clearfix
{
	@include clearfix;
}

// Links not underlined by default, but underlined on hover and focus
.roll
{
	@include roll;
}

// Links underlined by default, but not underlined on hover and focus
.unroll
{
	@include unroll;
}

// Display none
.hide
{
	@include hide;
}

// Hide but keep accessible
.mask
{
	@include mask;
}

// Cancel accessible hiding
.unmask
{
	@include unmask;
}

// Inline lists
.list
{
	@include list;
}

// Horizontal separators
.hr
{
	@include border-top(1px, solid, black);
	@include margin-bottom(1);
	
	hr
	{
		@include mask;
	}
}