/* Général
----------------------------------------------- */
body {
	margin: 0 0 72px;
	font-size: 13px;
	line-height: 18px;
	background-color: #eeeee2;
	color: #333;
	}
.container_16 {
	background-color: #fff;
	padding-bottom: 36px;
	}
#header {
	padding-top: 12px;
	border-top: 16px #ddddd2 solid;
	}
#footer {
	padding-bottom: 36px;
	border-top: 24px #ddddd2 solid;
	font: 13px/21px Verdana, sans-serif;
	color: #888882;
	}
#footer span { margin: 0; }


/* Titraille et libellés
----------------------------------------------- */
h1 {
	font: 36px/48px Verdana;
	font-weight: normal;
	}
h2 {
	font: normal 13px/18px Verdana, sans-serif;
	color: #c00;
	}
h2, p { margin: 18px 0; }
	
span {
	color: #999;
	}
	

/* Liens
-----------------------------------------*/
a {
	text-decoration: none;
	padding: 3px 0;
	}
a:link,
a:visited {
	color: #888882;
	background-color: #eeeee2;
	}
a:hover {
	background-color: #fffff2;
	}
a:active {
	color: #fff;
	background-color: #000;
	}

		
/* Texte d’exemple, tailles réutilisables
-----------------------------------------*/
.s { line-height: 1.4em; }
.ls { letter-spacing: 0.05em; }

.s9 { font-size: 9px; }
.s10 { font-size: 10px; }
.s11 { font-size: 11px; }
.s12 { font-size: 12px; }
.s13 { font-size: 13px; }
.s14 { font-size: 14px; }
.s16 { font-size: 16px; }
.s18 { font-size: 18px; }
.s21 { font-size: 21px; }
.s24 { font-size: 24px; }
.s30 { font-size: 30px; }
.s36 { font-size: 36px; }
.s42 { font-size: 42px; }
.s50 { font-size: 50px; }
.s56 { font-size: 56px; }
.s60 { font-size: 60px; }
.s96 { font-size: 96px; }

.s
{
	position: relative;
}
.s span.size {
	display: block;
	margin-right: 0;
	font-size: 13px;
	font-family: Verdana, sans-serif;
	position: absolute;
	left: -95px;
	width: 80px;
	text-align: right;
}
.s span.text
{
	color: #333;
}
		
	
/* Caractères
-----------------------------------------*/
.charset .s {
	margin: 10px 0;
	line-height: 1.1em;
	}
	
	
/* Comparaison des tailles de corps
-----------------------------------------*/
.bodysize {
	overflow: hidden;
	background: #fff url(images/grid.gif) -5px 9px repeat;
	}
.bodysize table {
	width: 100%;
	font-size: 86px;
	line-height: 140px;
	}
.bodysize table th {
	padding: 0 0 6px 12px;
	border-bottom: 1px #eeeee2 solid;
	font: normal 13px Verdana, sans-serif;
	text-align: left;
	color: #333;
	background-color: #fff;
	}
.bodysize a { padding-bottom: 1px; }
.bodysize a:link,
.bodysize a:visited {
	color: #999;
	background-color: transparent;
	}
.bodysize a:hover {
	color: #c00;
	background-color: transparent;
	}
.bodysize a:active {
	color: #fff;
	background-color: #000;
	}

.bodysize table td {
	xbackground-color: #e2e2d9;
	xborder: 3px #fff solid;
	padding: 6px;
	}
.bodysize table td span {
	margin: 0;
	padding: 0;
	color: #333;
	background-color: transparent;
	}
.bodysize table td span:hover {
	background-color: rgba(255,255,200,0.2);
	border-top: 1px #c00 solid;
	border-bottom: 1px #c00 solid;
	}
.bodysize .typeface2 { font-family: Arial, Helvetica, sans-serif; }
.bodysize .typeface3 { font-family: "Times New Roman", Times, serif; }
.bodysize .typeface4 { font-family: Georgia, "New Century Schoolbook", "Nimbus Roman No9 L", serif; }


/* Niveau de gris
-----------------------------------------*/
.grayscale {
	clear: both;
	background: #fff url(images/black.gif) top right repeat-y;
	}
	
.grayscale p
{
	position: relative;
}
.grayscale p span.size {
	display: block;
	width: 80px;
	font-size: 13px;
	font-family: Verdana, sans-serif;
	color: #999;
	position: absolute;
	}
.white p span.size {
	left: -96px;
	text-align: right;
	}
.black p span.size {
	right: -96px;
	text-align: left;
	}
.c000 .text { color: #000; }
.c333 .text {	color: #333; }
.c666 .text {	color: #666; }
.c999 .text {	color: #999; }
.cCCC .text {	color: #ccc; }
.cFFF .text {	color: #fff; }

/* Taille
-----------------------------------------*/
.ulc p span.text {
	white-space: nowrap;
	overflow: hidden;
	display: block;
	float: none;
	width: 100%;
	margin: 0;
	font-size: inherit;
	font-family: inherit;
	text-align: left;
	color: #333;
	}
.ulc .upp p span.text {
	text-align: right;
	text-transform: uppercase;
	letter-spacing: 1px;
	}
.upp span.size {
	left: auto;
	display: block;
	width: 80px;
	right: -96px;
	text-align: left;
	position: absolute;
	}
p.upp {
	text-align: left;
	}