#page.demo
{
    #inline
    {
        .js &
        {
            @include hide;
        }
    }
    .rwdimg
    {
        width: 100%;
        height: auto;
    }
    .flexslider
    {
        @include margin-bottom;
        @include border;
        
        .flex-control-nav,
        .flex-direction-nav
        {
            li
            {
                &:after
                {
                    content: ' – ';
                }
                &:last-child
                {
                    &:after
                    {
                        content: '';
                    }
                }
            }
        }
        .slides
        {
            li
            {
                .no-js &
                {
                    float: none;
                    display: block;
                }
            }
        }
    }
}
#page.demo
{
    #arrows
    {
        @include height;
        @include margin-bottom;
    
        span
        {
            display: inline-block;
            
            &.first-child
            {
                @include triangle(20px, orange, right);
            }            
            &.last-child
            {
                @include triangle(14px, orange, down-right); // il faudrait calculer le cette taille automatiquement ainsi que les marges qui compensent
                margin-bottom: 6px;
                margin-right:  6px;
            }    
        }
    }
    #sprites
    {
        .sprite
        {
            @include height(10);
            @include margin-bottom;
            @include border;
            
            @include demo_mires-sprite(demo_mire-2, $offset-x: 50%);
            
            &.first-child
            {
                @include demo_mires-sprite(demo_mire-1, $offset-x: 0%);
                
                @include mq(260px, false, max)
                {
                    @include demo_mires-sprite(demo_mire-1, $offset-x: 50%);        
                }
            }
            &.last-child
            {
                @include demo_mires-sprite(demo_mire-3, $offset-x: 100%);
                
                @include mq(260px, false, max)
                {
                    @include demo_mires-sprite(demo_mire-3, $offset-x: 50%);        
                }
            }
        }
    }
}
#page.demo
{
    #bg
    {        
        @include height(10);
        @include margin-bottom;
        @include border;
        
        @include retina-image('../img/bg/demo_mire');
        
        background-repeat: no-repeat;
        background-position: 50% 50%;
    }
}
#page.demo
{
    .cols
    {
        @include clearfix;
        
        .col
        {
            $fs: 30px;
        
            background-color: black;
            color: white;
            text-align: center;
            
            @include font-size($fs);
            @include padding-top   (1, $fs);
            @include padding-bottom(1, $fs);
            @include margin-bottom (1, $fs);
            
            @include mq($M, true)
            {
                @include span(3, $fs);
                
                &.last-child
                {
                    @include last;
                }
            }
            @include mq($S)
            {
                @include span(4, $fs);
                
                &.nth-child-2n
                {
                    @include last;
                }
            }
            @include mq($XS)
            {
                float: none;
                width: auto;
                display: block;
                padding: 0;
                margin:  0;
                
                @include margin-bottom(1, $fs);
            }
            @include mq($L, false, min)
            {
                @include span(4, $fs);
                
                @include padding-top   (2, $fs);
                @include padding-bottom(2, $fs);
                
                &.last
                {
                    @include last;
                }
            }
        }
    }
}
#page.demo
{
    #section-article
    {
        @include clearfix;
    }
    section
    {
        background-color: red;
        
        @include mq($M, true)
        {
            @include span(6);
        }
        @include mq($L, false, min)
        {
            @include span(8);
        }
        @include mq($S)
        {
            @include span(4);
        }
        @include mq($XS)
        {
            float: none;
            width: auto;
            display: block;
            
            @include last;
        }
    }
    article
    {
        background-color: green;
    
        @include mq($M, true)
        {
            @include span(6);
            @include last;
        }
        @include mq($L, false, min)
        {
            @include span(8);
        }
        @include mq($S)
        {
            @include span(4);
        }
        @include mq($XS)
        {
            float: none;
            width: auto;
            display: block;
        }
    }
}
#page.demo
{
    video
    {
        background-color: #800000;
    }
}
#page.demo
{
    #table
    {
        overflow: auto;
        width: 100%;
    }
    @include mq($XS)
    {
        ul,
        ol,
        menu
        {
            padding-left: ($column-width + $gutter-width) / 2;
        }
        dd,
        blockquote
        {
            margin-left: ($column-width + $gutter-width) / 2;
        }
    }
}