/*
@font-face
{
    font-family: 'exemple';
    
    src: url('../font/exemple.eot');
    src: url('../font/exemple.eot?#iefix') format('embedded-opentype'),
         url('../font/exemple.woff')       format('woff'),
         url('../font/exemple.ttf')        format('truetype');

    font-weight: normal;
    font-style:  normal;
}
@mixin exemple
{
    font-family: 'exemple',
                 sans-serif;
}
*/