#page,
#grid
{
    @include mq($M, true)
    {
        @include container($total-columns-M);
    }
    @include mq($L)
    {
        @include container($total-columns-L);
    }
    @include mq($S)
    {
        @include container($total-columns-S);
    }
    @include mq($XS)
    {
        width: auto;
    }
}
#grid
{
    .vert
    {
        width: $column-width;
        margin-left: $gutter-width;
        
        @include mq($XS)
        {
            &.first-child
            {
                width: 100%;
            }
        }
    }
}

@import "layout/header";
@import "layout/content";
@import "layout/footer";